:root {
    --mainBlue:#000000;                                   
    --lightBlue:#009ffd;
    --mainWhit:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
}

body {
    font-family: 'Oswald', sans-serif !important;
    background: var(--mainWhit) !important;
    /* background:#C6F7F7 !important;  */
    color: var(--mainDark) !important;
}

.text-title {
    /* font-family:'Permanent Marker', cursive; */
    font-family:'Oswald', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black{
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
    background: var(--mainDark) !important;
    color: var(--mainWhit) !important;
}

.cart-icon{
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}

.totals {
    width: 500px;
    background:#FFFFFF ;
    margin: auto;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}

.totals:hover{
    border: 0.04rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .02);
}

